.logo {
    background-color: #474747;
    padding: 0.5rem;
    border-radius: 10rem;
    width: 15rem;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .buttonsOfLinks {
    display: flex;
    margin: auto;
    max-width: 500px;
    padding: 2em;
  }

  @media screen and (max-width: 900px) {
    .buttonsOfLinks {
      flex-direction: column;
    }
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .joinButtonContainer {
    margin: auto;
    width: 200px;
  }
  
  .joinButton {
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    margin: 0.2rem;
  }

  @media screen and (max-width: 900px) {
    .joinButton {
      padding: 0.5rem;
    }
  }
  
  .joinButton:hover {
    background-color: #474747;
  }
  
  .logoInButton {
    width: 2rem;
    padding-left: 1rem;
  }